{% extends 'web/base.html' %}
{% load static %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'web/apexability.css' %}">
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.6.1/randomColor.min.js" integrity="sha512-vPeZ7JCboHcfpqSx5ZD+/jpEhS4JpXxfz9orSvAPPj0EKUVShU2tgy7XkU+oujBJKnWmu4hU7r9MMQNWPfXsYw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'web/config.js' %}" type="module"></script>
{% endblock header %}

{% block body %}
{% include 'web/header.html' %}
{{monthly_records|json_script:"monthly_records"}}
<div id="container">
    <select id="viewTypeSelector" style="display: none;">
        <option value="overview">Overview</option>
        <!-- <option value="daily">Daily</option> -->
    </select>

    <div class="swapable active" x-view="overview" id="overview">
        最新の20件のみ表示しています。
        <table class="apexability-table">
            <thead class="table-header">
                <tr class="header-row">
                    <th class="header-cell">Name</th>
                    <th class="header-cell">Game</th>
                    <th class="header-cell">Time</th>
                    <th class="header-cell">Duration</th>
                </tr>
            </thead>
            <tbody> 
            {% for record in recent_records %}
                <tr>
                    <td>{{record.player.display_name}}</td>
                    <td>{{record.played_game.name}}</td>
                    <td>{{record.start_time}} ~ {{record.stop_time|default_if_none:""}}</td>
                    {% if record.stop_time %}
                    <td>{{record.stop_time|timeuntil:record.start_time}}</td>
                    {% else %}
                    <td><span class="playing-now-badge">Playing</span></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <canvas id="monthChart"></canvas>
    </div>
</div>
<script src="{% static 'web/apexability.js' %}" type="module"></script>
{% endblock body %}
